# Ignore node_modules and other unnecessary directories
node_modules
dist

# Ignore git directory and related files
.git
.gitignore

# Ignore environment files
.env

# Ignore Docker-specific files
#docker-compose.yaml

# Ignore local configuration files
*.log
npm-debug.log
Dockerfile

# Ignore editor directories and files
.vscode
.idea
